/*Encabezado*/

.jumbotron {
    background-color: grey;
    color: black;
}


/*Pie de pagina*/

footer {
    padding: 10px 10px 0 10px;
    background-color: grey;
    margin-bottom: 0px;
    margin-top: 60px;
}


/*Carta de cada hotel*/

.card-peli {
    flex: 1 150px;
    padding: 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.titulo-card {
    text-align: center;
}

p {
    text-align: justify;
}